[Unit]
Description=Flask Application
[Service]
User=pythonadm
WorkingDirectory=/opt/flask-app
ExecStart=/bin/bash -c 'cd /opt/flask-app && source ~/.bashrc && source ./venv/bin/activate && flask run --host=0.0.0.0'
[Install]
WantedBy=multi-user.target
